@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-1 {
  height: 1px;
  background: white;
}

ul.work-list {
  display: grid;

  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}

li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: 'Roboto Mono';
  font-size: .90rem;
}

li:before {
  content: '▹';
  position: absolute;
  left: 0;
  color: #ff00ed;
  font-size: 1rem;
  line-height: 16px;
}

.feature {
  visibility: visible;
  opacity: 1;
  transform: matrix3d(
    1, 0, 0, 0, 0, 
    1, 0, 0, 0, 0,
    1, 0, 0, 0, 0, 1);
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.project-image-first {
  grid-column: 1 / 8;
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  width: 100%;
  height: 100%;
 
}

.project-content-first {
  grid-column: 7 / -1;
  grid-area: 1 / 1 / -1 / 7;
  position: relative;
  z-index: 1;
}

.project-content a {
  background-color: #ff00ed;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.project-image-wrapper {
 background-color: #ff00ed;

}

.project-image-second {
  grid-column: 7 / -1;
  grid-area: 1 / 1 / -1 / 8;
  position: relative;
  width: 100%;
  height: 100%;
 
}
.project-content-second {
  grid-column: 1 / 8;
  grid-area: 1 / 7 / -1 / -1;
  position: relative;
  z-index: 1;
}
